.sidebar-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 8 12;
}

.sidebar-button:hover {
    -fx-background-color: #3a3d5c;
}

.sidebar-button:pressed {
    -fx-background-color: #202233;
}

.sidebar-button-active {
    -fx-background-color: #414361;
}
